$navigation-bar-color: #FFFFFF;
$navigation-bar-secondary-color: #f1f1f1;
$navigation-main-text-color: #2F2F2F;
$navigation-dropdown-hovered-color: #E5E5E5;
$navigation-inner-tabs-color: #D9D9D9;

header
{
  background-color: $navigation-bar-color;
}


.header-content-wrapper
{
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 15px;
  color: $navigation-main-text-color;

  &::after
  {
    content: "";
    display: table;
    clear: both;
  }
}

.main-brand-wrapper
{
  height: 48px;
  padding-top: 13px;
  float: left;

  a
  {
    display: block;

    img
    {
      display: block;
      width: 108px;
      height: 23px;
    }
  }
}

.ms-nav
{
  margin-left: 18px;
  float: left;
}

.main-navigation
{
  margin: 0;
  padding: 0;
  list-style: none;

  &::after
  {
    content: "";
    display: table;
    clear: both;
  }
}

.main-navigation-dropdown,
.main-navigation-item
{
  float: left;
  position: relative;

  .navigation-link
  {
    display: block;
    height: 48px;
    line-height: 48px;
    vertical-align: baseline;
    cursor: pointer;

    &:hover
    {
      background-color: $navigation-bar-secondary-color;
    }
  }
}

.main-navigation-dropdown
{
  .navigation-link
  {
    padding: 0 33.5px 0 22.5px;

    &::after
    {
      content: url('../img/down-arrow.png');
      position: absolute;
      width: 6px;
      height: 6px;
      top: -1px;
      right: 22px;
    }
  }
}

.main-navigation-item
{
  .navigation-link
  {
    padding: 0 22.5px;
    text-decoration: none;
    color: $navigation-main-text-color;
  }
}

.navigation-link.active
{
  background-color: $navigation-bar-secondary-color;
}

.navigation-link.active + .dropdown-content
{
  display: block;
}

.dropdown-content
{
  display: none;
  width: 238px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  list-style: none;
  background-color: $navigation-bar-secondary-color; 
}

.tab-capture
{
  padding: 17px 24px;
  cursor: pointer;
  text-decoration: none;
  color: $navigation-main-text-color;
  display: block;
}
//tab-capture is used for extend, so no &:hover
.tab-capture:hover
{
  background-color: $navigation-dropdown-hovered-color;
}

.tab-capture.containable
{
  position: relative;

    &::after
    {
      content: url("../img/right-arrow.png");
      position: absolute;
      right: 20px;
      top: 15px;
    }
}

.direct-link
{
  &:hover
  {
    text-decoration: underline;
  }
}

.tab-content
{
  display: none;
  width: 299px;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 238px;
  list-style: none;
  background-color: $navigation-inner-tabs-color;
}


.tab-capture.containable.active ~ .tab-content
{
  display: block;
}

.tab-content-link
{
  @extend .tab-capture;

  &:hover
  {
    text-decoration: underline;
  }
}

.sign-in
{
  height: 48px;
  padding: 0 12px 0 10px;
  display: block;
  line-height: 48px;
  float: right;
  font-size: 12px;
  cursor: pointer;

  &:hover
  {
    background-color: $navigation-bar-secondary-color;
    color: #4B8BDE;
  }
}

.header-actions
{
  height: 48px;
  line-height: 48px;
  float: right;
}

form[name="search"]
{
  margin-top: 7px;
  margin-right: 10px;
  float: left;

  &::after
  {
    content: "";
    display: table;
    clear: both;
  }
}

input[name="ms-search"]
{
  width: 244px;
  height: 36px;
  padding: 0 10px;
  font-size: 15px;
  border: 1px solid #A9A9A9;
  border-right: 0;
  float: left;

  &:focus
  {
    outline: none;
  }

  &:focus + label[for="site-search"]
  {
    background-image: url("../img/search-focus.png");
  }

  //doesn't work with comma separated selector
  &::-webkit-input-placeholder
  {
    color: $navigation-main-text-color;
  }

  &::-moz-placeholder
  {
    color: $navigation-main-text-color;
  }

  &:-moz-placeholder
  {
    color: $navigation-main-text-color;
  }

  &:-ms-input-placeholder
  {
    color: $navigation-main-text-color;
  }
}

label[for="site-search"]
{
  width: 33px;
  height: 36px;
  border: 1px solid #A9A9A9;
  border-left: 0;
  float: left;
  background-size: 17px 17px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.store
{
  width: 47px;
  height: 48px;
  padding: 0 10px 0 5px;
  display: block;
  float: left;
  text-align: right;
  text-decoration: none;
  font-size: 11px;
  background-size: 17px 17px;
  background-image: url("../img/shopping-cart.png");
  background-repeat: no-repeat;
  background-position: 10px center;


  &:hover
  {
    background-color: $navigation-bar-secondary-color;
  }
}

#mobile-nav-toogler
{
  display: none;
}

.high-level-toogle
{
  display: none;
}

.inner-toggle
{
  display: none;
}

@media only screen and (min-width: 940px)
{
  label[for="mobile-nav-toogler"]
  {
    display: none;
  }
}


@media only screen and (max-width: 940px)
{
  form[name="search"]
  {
    display: none;
  }

  .header-content-wrapper
  {
    width: 100%;
  }

  .main-brand-wrapper
  {
    padding-left: 10px;
  }

  [for="mobile-nav-toogler"]
  {
    display: block;
    width: 44px;
    height: 48px;
    float: right;
    background-image: url('../img/bars.png');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }

  #mobile-nav-toogler:checked ~ [for="mobile-nav-toogler"]
  {
    background-color: #F2F2F2;
  }

  .ms-nav
  {
    display: none;
    margin-left: 0;
    float: none;
    position: absolute;
    top: 48px;
    right: 0;
  }

  #mobile-nav-toogler:checked ~ .ms-nav
  {
    display: block;
  }

  .main-navigation
  {
    width: 300px;
    min-height: 256px;
    background-color: $navigation-bar-secondary-color;
    position: relative;
    z-index: 3;
  }

  .main-navigation-dropdown,
  .main-navigation-item
  {
    float: none;
    position: relative;

    .navigation-link
    {
      &:hover
      {
        background-color: $navigation-dropdown-hovered-color;
      }
    }
  }

  .dropdown-content
  {
    display: none;
    width: 100%;
    position: static;
    background-color: darken($navigation-bar-secondary-color, 20%);
  }

  .tab-content
  {
    display: none;
    width: 100%;
    height: auto;
    position: static;
    background-color: darken($navigation-bar-secondary-color, 30%);    
  }

  .tab-capture.containable
  {
    &::after
    {
      content: url("../img/down-arrow.png");
    }
  }

  .tab-capture
  {
    &:hover
    {
      background-color: darken($navigation-bar-secondary-color, 35%);
    }
  }

  .tab-content-link
  {
    &:hover
    {
      background-color: darken($navigation-bar-secondary-color, 35%);
    }
  }

  .high-level-toogle:checked + .main-navigation-dropdown .dropdown-content
  {
    display: block;
  }

  .tab-capture.containable.active ~ .tab-content
  {
    display: none;
  }

  .inner-toggle:checked + .tab-capture.containable + .tab-content,
  .inner-toggle:checked + .tab-capture.containable.active + .tab-content
  {
    display: block;
  }
}
